/* Variables CSS */
:root {
    /* Colores */
    --main-bg-color: #FD275F;
    --main-bg-color-hover: #E25ABC;
    --secundary-color:#060F20;
    --blue-color:#53C7F0;
    --white-color:#ffffff;
    --black-color:#000000;

    /* Fuentes */
    --main-font-family: "Saira", sans-serif;
    --secondary-font-family: 'Kanit', sans-serif;
}


/* body{

    font-family: 'saira', sans-serif;
} */

body{

    font-family: var(--secondary-font-family);
}

/* Área clicable del toggle (hamburguesa) */
.custom-toggler {
  position: relative;
  width: 40px; /* Ajustar el tamaño del área clicable */
  height: 30px; /* Ajustar la altura */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

/* Los tres spans que forman la hamburguesa */
.custom-toggler span {
  display: block;
  background-color: var(--white-color);
  height: 4px; /* Grosor adecuado para los span */
  width: 30px; /* Ancho ajustado */
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 4px;
}

/* Estado inicial: tres líneas horizontales */
.custom-toggler.collapsed span:nth-child(1) {
  transform: translateY(0) rotate(0);
}

.custom-toggler.collapsed span:nth-child(2) {
  opacity: 1;
}

.custom-toggler.collapsed span:nth-child(3) {
  transform: translateY(0) rotate(0);
}

/* Estado alternativo: "X" */
.custom-toggler:not(.collapsed) span:nth-child(1) {
  transform: translateY(8px) rotate(45deg); /* Mueve la línea hacia abajo y rota */
}

.custom-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0; /* Hace desaparecer la segunda línea */
}

.custom-toggler:not(.collapsed) span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); /* Mueve la línea hacia arriba y rota */
}

.header{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; 
}


.icono-personalizado {
    font-size: 5rem;
    color: blueviolet;

}

.Kanit {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}