/* Variables CSS */
:root {
    /* Colores */
    --main-bg-color: #FD275F;
    --main-bg-color-hover: #E25ABC;
    --secondary-color:#060F20;
    --blue-color:#53C7F0;
    /* --blue-dark-color:#060F20; */
    --blue-dark-color:#0b121f;
    --white-color:#ffffff;
    --black-color:#000000;
    --gray-color:#3e3b3b;

    /* Fuentes */
    --main-font-family: "Saira", sans-serif;
    --secondary-font-family: 'Kanit', sans-serif;
    --border-radius: 50px;
    --letter-spacing: 2px;
    --padding-section:5rem;
    --color-icon:hue-rotate(0deg) saturate(100%) brightness(0) invert(25%) sepia(100%) saturate(500%) hue-rotate(-50deg);
    /* --color-icon-blue: hue-rotate(190deg) saturate(400%) brightness(1.2) sepia(100%) saturate(800%) hue-rotate(190deg); */
    /* --color-icon-blue: invert(57%) sepia(27%) saturate(748%) hue-rotate(186deg) brightness(96%) contrast(92%); */
    --color-icon-blue: invert(68%) sepia(79%) saturate(425%) hue-rotate(172deg) brightness(96%) contrast(91%);
  }


/* body{

    font-family: 'saira', sans-serif;
} */

body,
a,
html
{

    font-family: var(--main-font-family);
    letter-spacing: calc(var(--letter-spacing) - 1px);
}

.btn-primary{
  background-color: var(--main-bg-color);
  border-color: calc(var(--main-bg-color) - 1px);
}
  .btn-primary:hover{
    background-color: var(--main-bg-color-hover);
  }

.custom-toggler{
  position: relative;
}

.custom-toggler.navbar-toogler:focus,
.custom-toggler.navbar-toogler:active{
  outline: 0;
}

.custom-toggler.navbar-toggler span{
  display: block;
  background-color: var(--white-color);
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  left:0;
  opacity: 1;
  cursor: pointer;
  transform: rotate(0deg);
}

.custom-toggler.navbar-toggler span:nth-child(1),
.custom-toggler.navbar-toggler span:nth-child(3)
{
  transition: transform .35s ease-in-out;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(1){
  position: absolute;
  left: 12px;
  top:10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(2){
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.custom-toggler.navbar-toggler:not(.collapsed) span:nth-child(3){
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}

.header{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; 
}
  .header__btn{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  @media screen and (min-width:768px) {
    .header__btn {
      text-align: left;
    }
  }

  .header__botton{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 200px);
    font-family: var(--secondary-font-family);    
    /* background-color: red; */
  }
  @media screen and (min-width:768px) {
    .header__botton {
      height: calc(100% - 300px);
    }
  }
  
  .header__information{
    max-width: 728px;
  }
    .header__information h2 {
      font-size: 2rem;
      font-weight: 400;
      font-family: var(--secondary-font-family);
      text-transform: uppercase;
      text-align: center;
    }
    @media screen and (min-width:768px) {
      .header__information h2{
        text-align: left;
        font-size: 4.5rem;
      }
    }
    .header__information strong{
      color: var( --blue-color);
    }

    .header__information p {
      font-weight: 300;
      font-size: 1.3rem;
    }
    
  /* @media screen and (max-width:768px) {
    .header__meta  {
      display: none !important;
    }
  } */
    .header__meta li  {
      margin-left: 1rem;
      margin-right: 1rem;
    
    } 
      /* El primero Con margen 0 */
      .header__meta li:first-child  {
        margin-left: 0;
      }

    .header__meta li img {
        transform: scale(1.5); /*Aumenta el valor para hacerlos más grandes */
        filter: var(--color-icon);
        margin-right: 10px; /* Aumenta la separación entre el img y el span */
    }

.navbar-brand{
  max-width: 244px;
}
  @media screen and (min-width:768px) {
    .navbar-brand{
      max-width: 344px;
    }
}

  /* 
  .navbar-brand img {
    width:65%; 
    height: auto;
  }    
*/

.nav-link{
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  /* border-bottom: 1px dashed var(--main-bg-color); */
  /* letter-spacing: 1px; */ /*Ya esta en la propiedad del html*/
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1.15rem;
}

  @media screen and (min-width:768px) {
    .navbar-expand-lg .navbar-nav .nav-link{
      border-bottom: 0;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }
  .nav-link:hover,
  .nav-link.activate{
    color: var(--main-bg-color);
  }

  .navbar--absolute {
    /* display: block; */
    position: absolute;
    top: 92px;
    left: 0;
    right: 0;
    background-color: rgba(6, 15, 32, 0.7);
  }
  
  @media screen and (min-width:768px) {
    .navbar--absolute {
      position: static;
      background-color: transparent;
    }
  }

/* 
  #navbarNavAltMarkup {
    display: none; 
    transition: all 0.3s ease-in-out;
  } */


.presentations{
  background-image: url("../img/presentations.jpeg");
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
  /* padding-bottom específicamente define el espacio interno en la parte inferior del elemento, es decir, entre el contenido del elemento y su borde inferior. */
  padding-bottom: var(--padding-section);
  padding-top: var(--padding-section);
}  
  .presentations p{
    color:  var(--blue-color);
    font-weight: 400;
    font-size: 1rem;
    max-width: 660px;
    text-align: center;
  }
    @media screen and (min-width:768px) {
      .presentations p{
        font-weight: 700;
        font-size: 1.2rem;
        text-align: left;
      }
    }
    .presentations__details{
      background-color: rgba(0, 0, 0, 0.6);
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
      .presentations__details:hover{
        background-color: var(--main-bg-color);
      }
        .presentations__details:hover a{
          border-color: var(--white-color);
        }
        .presentations__details--title{
          text-transform: uppercase;
          font-size: 1.3rem;
          letter-spacing: calc(var(--letter-spacing + 1px));
          font-weight: 500;
        }
        .presentations__details--information{
          font-family: var(--secondary-font-family);
          font-weight: 500;
          font-size: 1rem;
        } 

.numbersEvents{
  background-color: var(--blue-dark-color);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  color: var(--white-color);
}
  .numbersEvents h5{
    color: var(--blue-color);
    font-family: var(--secondary-font-family);
    font-size: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .numbersEvents h6{
    font-family: var(--main-font-family);
    font-size: 2.125rem;
    font-weight: 600;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  .numbersEvents__icon {
    width: 50px; /* Tamaño adecuado para íconos */
    height: auto;
    filter: var(--color-icon-blue); /* Aplica el color azul a los íconos */
    margin-bottom: 10px; /* Espaciado entre el ícono y el texto */
}

.sectionBorder--top:before{
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 141px;
  background-color: var(--main-bg-color);
  content: "";
}
.sectionBorder--bottom:after{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 141px;
  background-color: var(--main-bg-color);
  content: "";
}

.djs{
  position: relative;
  padding-top: var(--padding-section);
  padding-bottom:  var(--padding-section);
}
  .djs__name{
    font-family: var(--secondary-font-family);
    font-weight: 400;
    color: var(--black-color);
    letter-spacing: var(--letter-spacing);
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .djs_type{
    font-family: var(--secondary-font-family);
    font-weight: 300;
    color: var(--gray-color);
    font-size: 1rem;
  }

.splide__list {
    display: flex;
    gap: 15px; /* Espacio entre imágenes */
}  
.splide__slide img {
  width: 100%;    /* Hace que la imagen ocupe todo el ancho de su contenedor */
  height: 200px;  /* Ajusta la altura según lo que necesites */
  object-fit: cover; /* Asegura que la imagen se recorte o se ajuste correctamente */
}

/* Estilo para los botones */
.djs__information li {
  margin: 0 10px; /* Añadir un margen a la izquierda y derecha de los botones */
}

.tickets li img {
  /* transform: scale(2.5); Aumenta el valor para hacerlos más grandes */
  filter: var(--color-icon-blue);
  margin-right: 10px; /* Aumenta la separación entre el img y el span */
}

.title{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
  .title:after{
    max-width: 170px;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 3px;
    content: "";
    display: block;
  }

.tickets{
  background-color: var(--blue-dark-color);
  color: var(--white-color);
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

  .tickets__price{
    background-color: #24243C;
    text-align: center;
    padding: calc(var(--padding-section) - 3rem);
    margin: calc(var(--padding-section) - 4rem);
    transition: all .3s ease-in-out;

  }
  .tickets__price:hover{
    background-color: var(--blue-dark-color);
    border: 1px dashed #24243C;
  }

  .tickets__value li{
    margin-right: 0.5rem;
  }

  .tickets__value li.tickets__value--only{
    margin-right: 0;
  }

  .tickets__number{
    color: var(--blue-color);
    font-size: 3rem;
    font-weight: 600;
  }
    .tickets__number:before{
      content: " $ ";
    }
    .tickets__number:after{
      content: " USD ";
      font-size: 1rem;
    }

.text--red{
  color: #E35A78;
}

.text--pink{
  color: #E25ABC;

}  

.text--purple{
  color:#7E5AE2;
}  

.subtitle{
  color: var(--blue-color);
}

.sponsors{
  background-image: url("../img/sponsors.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.gallery{
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);

}
  .gallery__animation{
    font-family: var(--secondary-font-family);
    font-weight: 600;
    position: relative;
    margin: 0;
  }
    .gallery__animation:hover{
      cursor: pointer;
    }
    .gallery__animation figcaption{
      display: none;
      transition: all .3s ease-out;
    }
    .gallery__animation:hover figcaption{
      display: block;
      position: absolute;
      top: 50px;
      left: 50px;
      right: 50px;
      bottom: 50px;
      color: var(--white-color);
      border: 1px solid var(--white-color);
      padding: 1.5rem 0.5rem;
      background-color: #00000080;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

  .gallery__animation img {
    width: 100%; /* Asegura que las imágenes ocupen el contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
  }

.icono-personalizado {
    font-size: 5rem;
    color: blueviolet;

}

.Kanit {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.saira {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}